body {
    background-color: #F5F5F5;;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.bgdotopo {
    display: flex;
    justify-content: center;
    height: 54px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.centralizar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 935px;
}
.seta-stories {
    position: absolute;
    right: 20px;
    top: 43px;
    box-shadow: 0px 3px 6px;
    border-radius: 80%;
    height: 26px;
    width: 26px;
    color: rgb(112, 105, 105);
    background-color: gray;
}
main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.conteudo-todo {
    display: flex;
}
header {
    height: 54px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}
ion-icon {
    height: 25px;
    width: 30px;
}
.icone-topo {
    margin-left: 15px;
}
.itens-barratopo {
    display: flex;
    align-content: center;
}
.linha-vertical {
    width: 1px;
    margin: 0px 10px;
    height: 25px;
    background-color: #DBDBDB;
}
.barra-pesquisa {
    text-align: center;
    border: 1px solid #DBDBDB;
    height: 28px;
    width: 235px;
    border-radius: 3px;
    background-color: #FAFAFA;
}
.item-topo {
    margin: 0px 10px;
}
.barra-stories {
    overflow: hidden;
    height: 118px;
    background-color: #FFFFFF;
    margin-top: 88px;
    display: flex;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 24px;
    width: 614px;
    position: relative;
}
.conteudo-direita {
    margin-top: 88px;
    margin-left: 30px;
    width: 293px;
    height: 540px;
    right: 480px;
    float: right;
}
.imgstories {
    margin-top: 23px;
    margin-inline: 12px;
}
.barra-stories p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.imgsfeed {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
}
.imagefeed {
    width: 612px;
}
.autorfeed {
    height: 60px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #262626;
    justify-content: space-between;
}
.trespontos {
    margin-right: 15px;
}
.autorfeed > img {
    width: 32px;
    height: 32px;
    margin-left: 17px;
}
.autorfeed > p {
    margin-left: 15px;
}
.legendaicones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 10px;
}
.iconesesquerda {
    display: flex;
    flex-direction: row;
    top: 5px;
}
.item-legenda {
    margin-right: 10px;
}
.legendacurtidos {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.legendacurtidos > p {
    margin-left: 5px;
}
.imgcurtidas {
    width: 20px;
    height: 20px;
}
.infoconta {
    height: 95px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.textocinza {
    color: #8E8E8E;
}
.descricaoconta {
    margin-left: 15px;
}
.toposugestoes {
    display: flex;
    justify-content: space-between;
}
.sugestoesconta {
    margin-top: 11px;
    width: 293px;
}
a {
    text-decoration: none;
}
.nomecontas {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.nomecontas > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nomecontas > p {
    color: #139EF2; 
    font-size: 14px; 
    font-weight: 500;
    padding-top: 10px;
}
.textosugestoes {
    margin-left: 10px;
    justify-content: center;
}
.textoseguir {
    margin-top: 10px;
}
.fontconta {
    color: #262626;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.seguevoce {
    color: #8E8E8E;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 5px;
}
.infoadicionais {
    margin-top: 33px;
    color: #C7C7C7;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}
.creditos {
    margin-top: 18px;
    color: #C7C7C7;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}
.coluna-sugestoes {
    position: fixed;
}
.infoadicionais {
    position: fixed;
    margin-top: 380px;
    width: 293px;
}
.creditos {
    position: fixed;
    margin-top: 430px;
}
@media (max-width: 934px) {
    .conteudo-direita {
        display: none;
    }
    .conteudo-esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    header {
        width: 100vw;
    }
}
@media (max-width: 614px) {
    .barra-stories {
        width: 100vw;
        margin-top: 54px;
        margin-bottom: 20px;
        border: none;
        height: 50%;
        background-color: #f5f5f5;
    }
    .seta-stories {
        display: none;
    }
    .texto-instagramDesktop {
        display: none;
    }
    .coluna-posts {
        margin-top: 0px;
    }
    .conteudo-esquerda {
        width: 100vw;
        margin-right: 0px;
    }
    header .linha-vertical {
        display: none;
    }
    header .barra-pesquisa {
        display: none;
    }
    header .someMobile {
        display: none;
    }
    .bgdotopo {
        width: 100vw;
    }
    .imagefeed {
        width: 100vw;
    }
}